* {
    margin:0;
    padding:0;
}

.navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(35, 154, 175);
    color: white;
    

}

.navbar-links{
    width:50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navbar-links>li: hover {
    background-color: rgb(33, 117, 143);
}
 