.navbar {
  background: linear-gradient(90deg, rgb(50, 187, 175), 0%, rgb(77, 204, 198));
  height: 65px;
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;

  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

.navbar-container {
  background: linear-gradient(90deg, rgb(216, 34, 207), 0%, rgb(212, 53, 127));
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

.navbar-logo {
  text-decoration: none;
  color: white;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.navbar-icon {
  margin-left: 10px;
  color: white;
  font-size: 1.8rem;
}

.container {
  z-index: 1;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.navbar-logo {
  align-items: center;
  text-decoration: none;
  color: white;
  display: flex;
  font-size: 1.4rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-gap: 10px;
  list-style:none;
  text-align: center;
  width: 
}

.menu-icon {
  align-items: center;
  line-height: 65px;
  font-size: 2.5rem;
  display: none;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  text-decoration: underline;
}

.nav-links-mobile {
  display: none;
}
