.navbar {
  background-color: ;
  background: linear-gradient(90deg, rgb(50, 187, 175), 0%, rgb(77, 204, 198));
}

.navbar-container {
  background: linear-gradient(90deg, rgb(50, 187, 175), 0%, rgb(77, 204, 198));
  dis
  max-width: 900px;
  margin: auto;
}
