* {
    margin:0;
    padding:0;
}

.nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(35, 154, 175);
    color: white;
    min-height: 10vh;

}

ul {
    float: left;
}



ul > li:hover {
    background-color: red;
}